[Unit]
Description=Restorecon maintaining path file context
ConditionPathExists=/etc/selinux/restorecond.conf
ConditionSecurity=selinux

[Service]
Environment=LANG=C

ExecStart=/usr/sbin/restorecond -d
ExecStop=/bin/kill -WINCH ${MAINPID}

[Install]
WantedBy=multi-user.target
